.home-container {
  height: 100%;
}
.dsc-logo {
  width: 400px;
  height: auto;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
}

.hades-banner img {
  width: 200px;
  height: auto;
}

#email-input {
  background-color: #F5F8FD;
}

.submit-btn {
  background-color: #2685FB;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
}